.map-popup {
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    min-width: 280px;
}

.map-popup > .map-popup-head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 1em;
}

.map-popup > .map-popup-head > h1 {
    font-size: 1.2em;
}
